.orbitline1 {
    top: 30%
}

.orbitline2 {
    top: 26%
}

.orbitline3 {
    top: 21%
}

.orbitline4 {
    top: 15%
}

.orbitline5 {
    top: 8%
}

.orbitline6 {
    top: 5%
}

.orbitline7 {
    top: 1%
}

.orbitline8 {
    top: -2%
}